@media (max-width: 768px){
    .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .cabecalho nav{
        display: flex;
        justify-content: center;
    }

    .cabecalho ul{
        display: flex;
        align-items: center;
        list-style: none;
        flex-direction: column;
    }
    .cabecalho a{
        display: flex;
        justify-content: center;
        width: 10%;
        color: white;  
        text-decoration: none;
        font-style: normal;
        font-weight: 200;
        font-size: 15px;
    
    }

}

@media (max-width: 480px){
    .cabecalho{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 0.5%;
        background-color: #4c8c63;
    }
    
    
    .cabecalho nav{
        padding: 0 10%;
    }
    .cabecalho ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        
    }
    
    .cabecalho li{
        display: flex;
        justify-content: space-around;
        padding: 0 8%;    
    }
    
    .cabecalho a{
        display: flex;
        justify-content: center;
        width: 10%;
        color: white;  
        text-decoration: none;
        font-style: normal;
        font-weight: 200;
        font-size: 10px;
    
    }
    
    .cabecalho img{
        display: flex;
        justify-content: center;
        width: 60%;
    }
}