.conteudo{
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
    color: white;
}

.conteudo div{
    display: flex;
    flex-direction: column;
}

.conteudo h2{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

.conteudo figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100;
}
